.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: Floating;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease;
    margin-left: 30px;
    margin-top: 5px;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 35px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-webkit-keyframes boatx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 35px);}
    to {-moz-transform: translate(0, -0px);}
}

@-moz-keyframes Floating2{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 15px);}
  to {-webkit-transform: translate(0, -0px);}
}

.layer-horizontal {
  position: absolute;
  height: 100%;
  left: 0;
}

#layer-horizontal-1 {
  width: 2000px;
}
#layer-horizontal-1-2 {
  width: 2150px;
}

#layer-horizontal-2 {
  width: 15000px;
  z-index: 2;
}

#layer-horizontal-3 {
  width: 22500px;
  z-index: 1;
  background-color: rgba(50,0,30,.5);
}

#ground-and-grass-container {
  position: absolute;
  left: 0;
  top: 90%;
  width: 22500px;
  height: 90%;
}

.grass {
  position: absolute;
  height: 50px;
  width: 100%;
  background-image: url('../imgs/grass.png');
}

.ground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../imgs/ground.png');
}

.background {
  height: 100%;
  width: 2000px;
  z-index: -1;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

#front {
  background-image: url(../imgs/sf-bg-front.png);
}

#back {
  background-image: url(../imgs/sf-bg-back.png);
}

#bay {
  background-image: url(../imgs/bay.png);
  background-repeat: repeat;
  background-position: top;
}

#boat {
  -webkit-animation-name: boatx;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: Floating;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease;
  position: absolute;
  bottom: 22%;
  left: 1200px;
  width: 240px;
  height: 240px;
  background-image: url(../imgs/boat.png);
}

/*flags*/

.banner {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 2;
  bottom: 10%;
}

#skills-flag {
  left: 4500px;
  background-image: url(../imgs/skills-flag.gif);
}

#education-flag {
  left: 7200px;
  background-image: url(../imgs/education-flag.gif);
}

#projects-flag {
  left: 9200px;
  background-image: url(../imgs/projects-flag.gif);
}

#contact-flag {
  left: 12100px;
  background-image: url(../imgs/contact-flag.gif);
}

/*Sam Kim Title*/
#title {
  width: 500px;
  height: 300px;
  background-image: url(../imgs/title.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 250px;
  top: 15%;
}

/*About*/
#about {
  position: absolute;
  top: 30%;
  color: white;
  left: 1100px;
  font-size: 5em;
  text-shadow: 2px 2px 10px black;
}


/*Skills*/
#skills {
  position: absolute;
  top: 30%;
  left: 5000px;
  width: 2000px;
  height: 200px;
  background-image: url(../imgs/logos.png);
}

/*Education*/

.edu-buildings {
  position: absolute;
  bottom: 10%;
}

#vandy {
  background-image: url(../imgs/vandy.png);
  left: 7500px;
  height: 500px;
  width: 800px;
}

#aa {
  background-image: url(../imgs/aa.png);
  left: 8400px;
  height: 700px;
  width: 500px;
}

/*Project Billboards*/

.billboard {
  width: 500px;
  height: 500px;
  background-image: url(../imgs/billboard.gif);
  position: absolute;
  text-align: center;
}

.billboard-image {
  width: 460px;
  height: 260px;
  top: 48px;
  left: 21px;
  z-index: -1;
  position: absolute;
}

.billboard-link {
  width: 100%;
  height: 100%;
  display: block;
}

.billboard > p {
  padding: 0 20px;
  margin: 0;
}

.billboard > h1 {
  margin: -30px 0 0 0;
  font-size: 50px;
}

#billboard-kelp {
  left: 9700px;
  bottom: 10%;
}
#kelp-bill {
  background-image: url(../imgs/kelp.jpg);
}

#billboard-smb {
  left:10500px;
  bottom: 10%;
}
#smb-bill {
  background-image: url(../imgs/smb.jpg);
}

#billboard-chess {
  left:11300px;
  bottom: 10%;
}
#chess-bill {
  background-image: url(../imgs/chess.png);
}

/*Contacts*/
.contacts {
  position: absolute;
  top: 30%;
  height: 200px;
  background-image: url(../imgs/contact.png);
  width: 200px;
  -webkit-transition: all 1s; /* Safari */
  transition: all 0.5s;
}

.contacts:hover {
  transform: scale(1.1,1.1);
  filter: hue-rotate(180);
}

#github{
  left: 12600px;
}

#linkedin{
  left: 12900px;
  background-position: -200px;
}

#email{
  left: 13200px;
  background-position: 200px;
}

/*end*/
#end {
  position: absolute;
  top: 30%;
  left: 13750px;
  color: white;
  width: 800px;
  font-size: 3em;
}
